<div class="container pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-lg-4">
          <h5>Alamat</h5>
          <ul class="list-unstyled">
            <li>Jalan Kap A.Rivai Palembang</li>
            <li>0711-5736304</li>
            <li>Biro Pengadaan Barang dan Jasa</li>
            <li>Setda Provinsi Sumatera Selatan</li>
          </ul>
        </div>
        <div class="col-12 col-lg-4">
          <h5>Made By</h5>
          <ul class="list-unstyled">
            <li>
              <img src="/images/logo1.png" alt="" style="max-height: 40px" />
            </li>
            <li>
              <img src="/images/logo2.jpg" alt="" style="max-height: 60px" />
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-4">
          <h5>Media Sosial</h5>
          <ul class="list-unstyled">
            <li>
              <a
                href="https://www.instagram.com/biropbjsumsel/?hl=id"
                target="_blank"
              >
                <img src="/images/ig.png" alt="" style="max-height: 40px" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/libraries/jquery/jquery-3.6.1.min.js"></script>
<script src="/libraries/bootstrap/js/bootstrap.js"></script>
<script src="/libraries/retina/retina.min.js"></script>
