<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>UKPBJ Prov Sumsel</title>
<link rel="stylesheet" href="/libraries/bootstrap/css/bootstrap.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/styles/main.css" />
