<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- Navbar -->
    <div class="container"><%- include('../partials/header'); %></div>

    <!-- form login -->

    <form class="form-login" action="/login" method="POST">
      <div class="container w-50">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            required
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <%if (flashMessage) { %>
        <div
          class="alert alert-danger alert-dismissible fade show mt-3"
          role="alert"
        >
          <%= flashMessage %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
      </div>
    </form>

    <footer class="section-footer mt-5 mb-4 border-top">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
