<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- Navbar -->
    <div class="container">
      <%- include('../partials/header'); %>
      <form
        id="uploadForm"
        class="mt-3 w-50"
        enctype="multipart/form-data"
        onsubmit="return submitFile(event)"
      >
        <h3>Upload document</h3>
        <div class="form-group">
          <label for="nama_kantor">Nama Kantor</label>
          <input
            type="text"
            class="form-control"
            id="nama_kantor"
            name="nama_kantor"
            aria-describedby="nama_kantorHelp"
            placeholder="Enter nama kantor"
            required
          />
        </div>
        <div class="form-group">
          <input type="file" id="document" name="document" accept=".pdf" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <footer class="section-footer mt-5 mb-4 border-top">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
  <script>
    const infoPopup = ({ title, info, icon, redirect }) =>
      Swal.fire(title, info, icon).then(function () {
        if (redirect) {
          window.location = redirect;
        }
      });

    const submitFile = (e) => {
      e.preventDefault();
      if (!e.target[0].value && !e.target[1].files.length) {
        return;
      }

      const form = document.querySelector("#uploadForm");
      const formData = new FormData(form);

      axios
        .post("/document/new", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          console.log("success", response);
          infoPopup({
            title: "Success",
            info: response.data.message,
            icon: "success",
            redirect: "/document",
          });
        })
        .catch((error) => {
          infoPopup({
            title: "Error",
            info: error.response.data.message,
            icon: "error",
          });
        });
    };
  </script>
</html>
